body {
    font-family: 'Open Sans', sans-serif;
    color: #7581a1;
    font-size: 16px;
    line-height: 26px; 
}
a {
    text-decoration: none;
}
div{
    display: block;
}
.wrap>h1 {
    font-size: 80px;
    font-weight: 600;
    color:#192b59;
    max-width: 540px;
    line-height: 90px;
    letter-spacing: -3px; 
    margin-bottom: 65px;  
}
.title-h2{
    font-size: 50px;
    font-weight: 600;
    color:#192b59;
    letter-spacing: -1.5px;
    line-height: 1.2;
}
.title-h2 span {
   display: block; 
   font-size: 16px;
   color: #1085e4;
   font-weight: 800;
   margin-bottom: 14px;
   text-transform: uppercase;
   letter-spacing: 3px;
}
.title-40 {
    font-size: 40px;
    letter-spacing: -1.2px;
    font-weight: 600;
    color:#192b59;
    line-height: 1.2;
}
.title-40 span {
    font-size: 18px;
    font-weight: 800;
    letter-spacing:3.6px ;
    margin-bottom: 21px;
   display: block; 
   color: #1085e4;
   text-transform: uppercase;
}
.screen{
    display: block;
   margin-top: 68px;
   margin-left: 60px;
    }

.page-stat .title-h2, .page-screen .title-h2  {
    text-align: center;
    margin:0 auto ;  
}
.page-stat .title-h2{
    max-width: 500px;
}
.page-app .intro {
    color: rgb(0, 0, 0, 0.04);
    font-size: 300px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 171px;
    right: 0;
    margin: 29px 0;
    font-weight: 800;
    letter-spacing: -10px;
}
.page-app{
    padding-top: 71px;
    padding-bottom: 77px;
}
.page-app>.wrap{
    position: relative;
}
.page-app-flex{
    margin: 0 auto;
}
.page-app-flex>h2{
    font-size: 50px;
    width: 41%;
}
.page-app-flex h2+p{
    font-size: 16px;
    width: 55%;
    margin-bottom: 36px;
}
.page-app-text{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: #c4d2dd;
    margin-top:-8px;
    letter-spacing: 3.5px;
    margin-bottom: 17px;
}
.page-app-list{
    padding: 0;
    list-style-type: none;
    margin-left: -18px;
}
.page-app-list>li{
    display: inline-block;
}
.page-app-list>li>a{
    background-image: url(../image/app-icon1.png);
    width: 185px;
    height: 77px;
    background-repeat: no-repeat;
}
.page-app-list>li>a.page-app-android{
    
    display: block;
    background-position: 0 0;  
}

.page-app-list>li>a.page-app-ios{
    background-position: -190px 0;
    display:block;   
}
.video-app{
    position: absolute;
    top: -54px;
    right: -170px; 
}
.wrap {
    max-width: 1110px;
    margin: 0 auto; 
}
 
.wrap .page-analitics{
    background-image: url(../image/bg-analit.png);
    padding-bottom: 120px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1920px;
    margin-top: 25px;
    padding-bottom: 140px;
    margin-left: -426px;

}
.flex-analitics{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 149px;
    padding-left: 202px;
}

.link-analitics{
    background-image: url(../image/icon5.png);
    display: block;
    width: 121px;
    height: 95px;
    background-repeat: no-repeat;
    align-self: center;
    top: -62px;
    right: 430px;
}
.flex-analitics p{
    width: 603px;
    padding-bottom: 30px;
}
.flex-analitics>div{
    padding-right: 140px;
    
}

.page-analitics-text a:last-child{  
margin-top: 40px;
}
.page-analitics-text{
    margin-left: -100px;
}
.page-analitics-text>h2{
    width: 508px;
    margin: 0 0;
}
.analitics1-flex{
    display: flex;
    justify-content: space-around;
    padding-top: 120px;
}
.page-analitics1 {
    position: relative;
    margin-bottom: 250px;
}
.bg-analitics{
background-image: url(../image/bg-analitic2.png);
background-repeat: no-repeat;
background-size: cover;
display: block;
background-position: center;
width: 800px;
height: 700px;
position: absolute;
right: 0px;
}

.analitics1-icon{
    background-image: url(../image/icon5.png);
    width: 115px;
    height: 97px;
    display: block;
    background-position: 0 0;
    background-repeat: no-repeat;
}
.analitics1-text>h2{
    width: 430px;
}
.analitics1-text p{
padding-bottom: 40px;
}
.logo{
    
    background-image: url(../image/logo.png);                               
    width: 181px;
    height: 49px;
}
.box-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 300px;
}
.nav {
    display: flex;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    padding: 0;  
    letter-spacing: 2.1px;
}
.nav>li{
    padding: 0 20px;
  }
.nav-item{
    color:#6e7ea9;  
    letter-spacing: 1.4px;
}
.screen-img{
    display: block;
    position: absolute;
    background-image: url(../image/table-1.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 895px;
    height: 731px;
    top: 188px;
    right: -252px;
}
.btn-primary {
    border: 1px solid #1085e4;
    text-transform:uppercase;
    background-color: #1085e4;
    color: white;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 700;
    padding: 19px 61px;
    letter-spacing:2.5px;   
    margin-top: 51px;
    transition: 0.5s;
}
.btn-primary:hover {
    color:#6e8da7;
    background-color:#192b59;
    background-color: transparent;
    border :3px solid white
}

.btn-info {
    color: #8085b1;
    background-color:transparent;
    border: 1px solid #0b0909;
    padding: 17px 48px;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing:2.5px;
    text-transform:uppercase;
    transition: 0.5s;
}
.btn-info:hover{
    background-color: #5a6570;
    color: ivory;
}
.btn-secondary {
    border: 1px solid #cbdbe8;
    text-transform:uppercase;
    background-color: #cbdbe8;
    color: #7e8bae;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 700;
    padding: 21px 39px;
    letter-spacing:2.1px;   
    margin-left: 20px;
    transition: 0.5s;
}
.btn-secondary:hover {
    color:#cbdbe8;
    background-color:white ;
}
.btn-free {
    padding: 21px 56px;   
    letter-spacing:1.7px;
    font-weight: 400;
}
.list-company{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    max-width: 1110px;
    
}
.list-company-item{
    display: block;
}
.page-company{
    background-size: cover;
    background-image: url(../image/fon-bg.png);
    background-repeat: repeat;
    padding: 103px 0 104px 0;
    width: 1920px;

}
.company-one{
    background-image: url(../image/bg_1.png);
    background-repeat: no-repeat;
    flex-basis: 198px;
    height: 58px;

}
.company-two{
    background-image: url(../image/bg_2.png);
    background-repeat: no-repeat;
    flex-basis: 200px;
    height: 69px;
}
.company-three{
    background-image: url(../image/bg_3.png);
    background-repeat: no-repeat;
    flex-basis: 200px;
    height: 47px;
}
.company-four{
    background-image: url(../image/bg_4.png);
    background-repeat: no-repeat;
    flex-basis: 200px;
    height: 69px;
}

.page-subscribe{
    padding: 18px 0 88px 0;
}
.wrap.box-subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.robot-subscribe{
    flex-basis: 49%;
}
.robot-subscribe span{
    display: block;
    font-size: 14px;
    font-weight: 800;
    color: #0395e1;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    padding: 33px;
}
.robot-subscribe h2 {
    display: block;
    font-size: 50px;
    color: #fff;
    letter-spacing: -2.5px;
    margin-top: 0;
    margin-bottom: 36px;
    }
.robot-subscribe p{
    color: #b5c1e9;
    width: 405px;
    font-size: 18px;
    padding-bottom: 40px;
}
.robot-subscribe input{
    display: block;
    border-radius: 54px;
    padding: 21px 213px 25px 37px ;
    position: relative;
    background-color: transparent;
    box-sizing: border-box;
    width: 100%;
    color: #fff;
    
}
.robot-subscribe input:focus, .box-subscribe-user .btn-primary{
    outline: none;
}
.robot-subscribe button{
    display: block;
    position: absolute;
    top: -38px;
    right: 11px;
    color: #bacbdc;
    border-radius: 40px;
    border: 1px solid #1085e4;
    background-color: #1085e4;
    padding: 15px 58px;
}
.box-subscribe-user{
    position: relative;   
}


.grid {
    display: grid;
    grid-template-areas: "a b c" "d b c" "d e f" "g e f" "g h h";
    max-width: 1110px;
    margin: 120px auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 35px;
}

.grid h2{
    color:#192b59;
    font-size: 40px;
    font-weight: 700;
}
.grid h2 span{
    font-size: 14px;
    font-weight: 800;
    color:#1085e4 ;
    display:block;
}
.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #208de6;
}

.grid-title{
    grid-area: a;
}
.grid-item-1{
    grid-area: d;
}
.grid-item-2{
    grid-area: g;
}
.grid-item-3{
    grid-area: b;
}
.grid-item-4{
    grid-area: e;
}
.grid-item-5{
    grid-area: c;
}
.grid-item-6{
    grid-area: f;
}
.grid-text{
    grid-area: h;
}

.grid-icon{
    display: block;
    background-repeat: no-repeat;
    margin: 0 auto 33px;
    background-position: center;
    height: 92px;
}
.grid-item{
    text-align: center;
    box-shadow: 0 0 5px #f9f9f9;
}
.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
    margin-bottom: 19px;
}
.grid-icon-1{
    background-image: url(../image/icon1.png);
     background-size:  79px 82px;
    
}
.grid-icon-2{
    background-image:url(../image/icon2.png) ;
    background-size: 103px 92px;
    
}
.grid-icon-3{
    background-image:url(../image/icon3.png);
    background-size:73px 79px;
   
}
.grid-icon-4{
    background-image: url(../image/icon4.png);
    background-size: 85px 90px ;
    
}
.grid-icon-5{
    background-image: url(../image/icon6.png);
    background-size: 89px 85px ;
    
}
.grid-icon-6{
    background-image: url(../image/icon7.png);
    background-size:100px 87px;
    
}
.page-software{
    padding: 130px 0 157px;
    position: relative;
    overflow: hidden;
    width: 1515px;
}

.page-software-icon{
    display: block;
    background-image: url(../image/software-icon.png);
    width: 115px;
    height: 87px;
    background-repeat: no-repeat;
    background-position: -22px 0;
}
.page-software-list dt{
font-weight: 700;
font-size: 16px;
line-height: 24px;
color: #a8aebe;
margin-bottom: 13px;

}
.page-software-list dd{
margin-left: 0px;
max-width: 549px;
margin-top: -7px;
line-height: 24px;
font-size: 14px;
}
.page-software-list dt:nth-of-type(2) {
    margin-top: 64px;
}
.page-software-h2{
    display: block;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    word-spacing: 2px;
    letter-spacing: -1px;
    margin-bottom: 26px;
    margin-top: 15px;
}
.page-software-list {
    overflow-y:scroll;
    overflow-x: hidden;
    height: 320px;
    width: 610px;
    margin-bottom: 23px;
    margin-top: 31px;
}
.page-software-list::-webkit-scrollbar {width: 4px; height: 4px;}
.page-software-list::-webkit-scrollbar-button {background-color: #1085e4;}
.page-software-list::-webkit-scrollbar-track-piece {background-color: #f3f6ff;}
.page-software-list::-webkit-slider-thumb {height: 50px; background-color:#1085e4 ; border-radius: 10px;}

.page-software-text p{
    display: block;
    margin-bottom:26px ;
    max-width: 601px;
}

.page-software-flex{
display: flex;
justify-content: flex-end;
margin-right: 1px;
}
.page-software-flex>div {
    flex-basis: 50%;
}
.software-bg{
    background-image: url(../image/soft-page-bg.png);
    display: block;
    width: 937px;
    height: 1440px;
    position: absolute;
    left: -4px;
    background-position: 0 -71px;
    background-size: 100% ;
}
.page-clients{
    position: relative;
    padding-top: 41px;
    padding-bottom: 79px;
}
.page-clients::before{
    content: '';
    display: block;
    background-image: url(../image/bg-team.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.page-clients-title{
    font-size: 40px;
    color: #ffffff;
}
.page-clients-wrap span{
    font-size: 18px;
    display: block;
    font-weight: 800;
    color: #85c8ff;
    text-transform: uppercase;
    padding-bottom: 30px;
}
.box-clients p{
    color: #8085b1;
    font-size: 14px;
    font-weight: 400;  
}
.box-clients-box>p{
    margin-bottom: 2px;
}
.clients-flex{
    display: flex;
    justify-content: space-around;
    margin-top: 75px
}
.box-clients-box{
    padding: 20px 33px;
    background-color: #fff;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
    box-sizing: border-box;
    box-shadow: 0 9px 20px #5a6570;
    flex: 0 0 auto;
    margin: 0px 15px;
    width: 350px;
}
.box-clients-box .name{
    font-size:22px;
    font-weight:600;
    color: #000958;
    margin-bottom: -14px;
    letter-spacing: -0.5px;
    word-spacing: -1px;
}

.box-clients-box .position{
    font-size: 14px;
    font-weight: 700;
    color: #1085e4;
    text-transform: uppercase;
    margin-top:9;
    letter-spacing: 2.3px;
    word-spacing: 3px; 

}
.clients-text-flex{
    display: flex;
    justify-content: flex-start;
    align-items:flex-end;
}
.clients-text-flex>img{
    padding-right: 18px;
}
.page-team{
    background-image: url(../image/bg-team.png);
    background-repeat: repeat;
    background-size: cover;
    text-align: center;
    padding: 82px 0 20px 0;
}
.page-team .title-40{
    color: #fff;
}
.page-team-block span{
    color: #85c8ff;
}
.box-team {
    display:flex;
    justify-content:space-between;   
    margin-top: 89px;
    margin-left: -18px;
}
.box-team-item{
    margin: 55px 15px;
    flex: 1 0 auto;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 5px 6px #f8f8f8;
    width: 350px;
    height: 385px;
    position: relative;
    padding: 74px 50px;
}
.box-team-item img{
    position: absolute;
    top: -87px;
    left: 33px;
}
.box-team-item .position{
    font-size: 14px;
    font-weight: 800;
    color: #1a88e1;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin-top: 131px;
    margin-bottom: -18px;
}
.box-team-item .name{
    font-size:26px;
    font-weight:600;
    color:#566485;
    letter-spacing: -0.5px
}

.btn-ricardo:focus{
    outline: none;
}
.box-team-item .btn-team{
    background-color: #f3f3f3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    margin: 0 auto;
    border:none;
    padding: 0;
    display: flex;
}
.box-team-item .btn-team:hover{
    background-color: #1a88e1;
}
.box-team-item .btn-team span{
    background-image: url(../image/social.png);
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    align-self: center;
}
.box-team-item .btn-ricardo span{
    background-position: 0 -4px;
    width: 40px;
    height: 20px;
}
.box-team-item .btn-ricardo:hover span{
    background-position:-1px -39px;
}

.box-team-item .btn-fb span{
    background-position: -57px 4px;
    width: 40px;
    height: 40px; 
}
.box-team-item .btn-fb:hover span{
    background-position: -57px -28px;
}
.box-team-item .btn-tw span{ 
    background-position: -116px 6px;
    width: 40px;
    height: 40px;
}
.box-team-item .btn-tw:hover span{
    background-position: -116px -28px
}
.box-team-item .btn-be span{ 
    background-position: -176px 9px;
    width: 40px;
    height: 40px;
}
.box-team-item .btn-be:hover span{
    background-position: -176px -28px;
}
.box-team-item .btn-web span{ 
    background-position: -236px 9px;
    width: 40px;
    height: 40px;
}
.box-team-item .btn-web:hover span{
    background-position: -236px -28px;
}
.box-team-item .social-team{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 0;
    margin: 0;
}

.list-stat {
    display:flex;
    justify-content: space-around;
    list-style-type: none;
    text-transform: uppercase;
    margin-top: 76px;
}
.list-stat>li {
    color: #1085e4;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.7px;
    text-align: center;
    margin-left:85px ;
}
.list-stat>li>span {
    display:block;
    text-transform: uppercase;
    font-size: 60px;
    color:#bacbdc ;
    margin-bottom:23px;
    letter-spacing: -2px;
}
.box-price {
    display: flex;
    justify-content: space-between;
    margin-top:80px ;
}
.box-price-item {
    height: 439px;
    background-color: #f5faff;
    flex-basis: 32%;
    position: relative;
    padding: 90px 0 96px 0;
    margin-bottom: 121px;
}
.box-price-item h3{
    color: #000958;
    font-size: 70px;
    letter-spacing: -1.1px;
    text-transform: lowercase;
    margin-top: 0;
    margin-bottom: 28px;
}
h3:first-letter{
    text-transform: uppercase;
}
.box-price-item h3 span {
    font-size: 18px;  
}
.box-price-item p{
    font-size: 14px;
    color: #0084ff;
    text-transform: uppercase;
    letter-spacing: 3px;
   
}
.box-price-item:first-child h3{
    margin-bottom: 35px;
}
.box-price-item h3 span:first-child{
    color: #000958; 
}
.box-price-item h3 span:last-child{
    color: #7b8ab2;
}
.box-price-item.active {
    background-color: #192b59;  
}
.box-price-item.active h3{
    color: #ffffff;
    
}
.box-price-item.active h3 span:first-child{
color: #ffffff;
}
.box-price-item.active strong{
    color:#ffffff ;
}
.box-price-item.active ul li{
    color: #c2c6d3;
    
}
.box-price-item.active ul {
margin-bottom: 62px;
}
.box-price-item ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 40px;
    margin-bottom: 61px;

}
.box-price-item::after{
    content: "";
    background-image:url(../image/figura1.png);
    position: absolute;
    width: 60px;
    height: 100%;
    top:0;
    right: 0;
}
.box-price-item.active::after{
    display: none;
}
.page-form{
    background-image: url(../image/Rectangle_6.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.contact-form{
    display:flex;
    flex-direction: column;
}
.contact-form input, .contact-form textarea{
    font-size:14px;
    border: 2px solid #dce4ec;
    border-radius: 10%;
    box-sizing: border-box;
    padding:15px 20px;
    width: 100%;
}
.contact-form-item{
    margin-bottom: 15px;
    position: relative;
}
.contact-form-item::after{
    display: block;
    position: absolute;
    right: 0;
    background-repeat: no-repeat;
}
.contact-form-name::after{
    content: '';
    background-image: url(../image/user.png);
    width: 13px;
    height: 15px;
    top: calc(50% - 7px);
}
.contact-form-mail::after{
    content: '';
    background-image: url(../image/envelope.png);
    width: 13px;
    height: 15px;
    top: calc(50% - 7px);
}
.contact-form-text::after{
    content: '';
    background-image: url(../image/pen.png);
    width: 13px;
    height: 15px;
    top: calc(50% - 7px);
}
.flex-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.contact-form input::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {color:#c0c6d6;}
.contact-form input::-moz-placeholder, .contact-form textarea::-moz-placeholder {color:#c0c6d6;}
.contact-form input:-moz-placeholder, .contact-form textarea:-moz-placeholder {color:#c0c6d6;}
.contact-form input:-ms-input-placeholder, .contact-form textarea:-ms-input-placeholder {color:#c0c6d6;}



/* PAGE */
.page-header{
    background-image: url(../image/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 53px 0 330px; 
}


.page-subscribe{
    background: linear-gradient(45deg, rgba(10,32,144,1) 0%,rgba(96,171,248,1) 100%,rgba(35,119,205,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
background-size:cover ;
}



.page-stat, .page-screen {
    background-color: #edf6ff;
}

.page-stat{
    padding: 121px 0 96px 0;
}
.page-plan, .page-screen {
    text-align: center;
}
.page-screen {
    padding: 121px 0 0 0;    
}
.box-subscribe-user input::-webkit-input-placeholder {color:#b1c3ee;}
.box-subscribe-user input::-moz-placeholder          {color:#b1c3ee;}
.box-subscribe-user input:-moz-placeholder           {color:#b1c3ee;}
.box-subscribe-user input:-ms-input-placeholder      {color:#b1c3ee;}

.social
{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 0;
}
.social>li {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}
